@import '~@angular/material/theming';

.mat-toolbar {
  @include mat-elevation(3);
  width: 100%;
  position: absolute;
  z-index: 999;
}

.title {
  margin-left: 16px;
}

.add-button {
  position: absolute;
  right: 16px;
  top: 28px;
  z-index: 999;
}

@media only screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .add-button {
    right: 24px;
    top: 36px;
  }
}
