@import '~@angular/material/theming';

.mat-toolbar {
  @include mat-elevation(3);
}

.mat-toolbar-row {
  position: relative;
}

.title {
  padding-left: 80px;
  align-items: flex-start;
}

.action_button_handheld {
  position: absolute;
  bottom: -16px;
  left: 24px;
}

.action_button_web {
  display: none;
  position: absolute;
  bottom: -16px;
  left: 16px;
}

@media only screen and (min-width: 600px) {
  .action_button_handheld {
    display: none;
  }

  .action_button_web {
    display: block;
    bottom: -24px;
  }
}
