@import '~@angular/material/theming';

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  padding: 0 8px;
  width: 256px;
}

@media only screen and (min-width: 960px) {
  .mat-toolbar {
    position: relative;
    z-index: 999;
  }

  .mat-sidenav {
    width: 320px;
  }

  .mat-sidenav-container {
    height: calc(100% - 128px);
  }
}
