@import '~@angular/material/theming';

@include mat-core();

.sidenav_title {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 16px;

  & h2 {
    margin: 0;
  }
}

@media only screen and (min-width: 720px) {
  .sidenav_title {
    height: 64px;
  }
}

.nav_list {
  margin-top: 16px;
}

@media only screen and (min-width: 960px) {
  .nav_list {
    margin-top: 40px;
  }
}

.nav_item {
  display: flex;
  align-items: center;
}

.nav_item_icon {
  color: rgba(0, 0, 0, 0.54);
}

.nav_item_text {
  margin-left: 32px;
}

.nav_item.disabled {
  pointer-events: none;

  & .nav_item_icon,
    .nav_item_text {
    color: #aaaaaa;
  }
}

.nav_item.active {

  & .mat-list-item-content {
    background-color: #673ab71f;
  }

  & .nav_item_icon,
    .nav_item_text {
    color: mat-color($mat-deep-purple, 500);
  }
}
