/* You can add global styles to this file, and also import other style files */
$completed_color: rgb(170, 170, 170);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  margin-top: 40px;
  margin-left: 8px;
}

.completed {
  color: $completed_color;
  text-decoration: line-through;
}

.mat-checkbox.completed .mat-checkbox-background {
  background-color: $completed_color;
}
