<div class="edit_todo_form" [formGroup]="form">
  <mat-form-field>
    <mat-label>Task title</mat-label>
    <input
      #todoTitle
      matInput
      name="todoTitle"
      autocomplete="off"
      [maxlength]="TODO_TITLE_MAX_LENGTH"
      formControlName="title"/>

    <mat-hint align="end">{{ todoTitle.value.length }} / {{ TODO_TITLE_MAX_LENGTH }}</mat-hint>

  </mat-form-field>

  <mat-form-field class="edit_todo_form_tag_input">
    <mat-chip-list #tagList aria-label="Todo tag selection">
      <mat-chip *ngFor="let tag of form.get('tags').value" (removed)="removeTag(tag)">
        {{ tag.title }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #tagInput
        placeholder="Tags"
        [matChipInputFor]="tagList"
        [matAutocomplete]="auto"/>

    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addTag($event)">
      <mat-option *ngFor="let tag of availableTags$ | async" [value]="tag">
        {{ tag.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
