.drawer {
  min-height: 640px;
  padding: 18px 8px;
  overflow: hidden;
  width: 256px;
}

.navigation {
  margin: 0 -16px;
}

.navigation_item {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navigation_item_icon {
  color: rgba(0, 0, 0, 0.54);
}

.navigation_item_text {
  margin-left: 32px;
}

@media only screen and (min-width: 1280px) {
  .drawer {
    width: 320px;
  }
}
